/*
 * Styles pour le positionnement optimal de la carte
 */
html,body, #map {
	height:100%;
	width: 100%;
	margin:0;
}
#map {
	background: #000120;
}
/*
 * Styles pour le controle spécifique du Widget basé sur le style MapLibre
 */
/* Le button permettant le focus sur la ligne sélectionnée (passage en mode
   piloté par un widget source */
.maplibregl-ctrl-icon.one-row-btn {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 24 24"><path d="M 6 6 H 2 v 3 l 7 0 L 9 2 H 6 z m 9 3 l 7 0 V 6 H 18 V 2 h -3 z m -13 9 H 6 v 4 h 3 l 0 -7 l -7 0 L 2 18 m 13 -3 l 0 7 H 18 V 18 h 4 v -3 L 15 15"/></svg>');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Le bouton de recentrage sur l'ensemble des lignes (passage en mode
   pilotage par le widget Carte facile) */
.maplibregl-ctrl-icon.fit-bounds-btn {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 24 24"><path d="M 2 2 V 9 h 3 V 5 h 4 V 2 z m 13 0 V 5 h 4 v 4 h 3 V 2 z m -13 13 V 22 h 7 V 19 H 5 V 15 z M 19 15 v 4 H 15 v 3 h 7 V 15 z"/></svg>');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Le bouton d'ajout d'une ligne */
.maplibregl-ctrl-icon.add-row-btn {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 24 24"><path d="M 2 11 L 2 13 L 5 13 L 5 16 L 7 16 L 7 13 L 10 13 L 10 11 L 7 11 L 7 8 L 5 8 L 5 11 L 2 11 m 4 -9 C 4 2 4 4 6 4 L 20 4 C 22 4 22 2 20 2 L 6 2 M 13 8 C 11 8 11 10 13 10 L 20 10 C 22 10 22 8 20 8 L 13 8 M 13 14 C 11 14 11 16 13 16 L 20 16 C 22 16 22 14 20 14 L 13 14 m -7 8 C 4 22 4 20 6 20 L 20 20 C 22 20 22 22 20 22 L 7 22"/></svg>');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Bouton de paramétrage du widget */
.maplibregl-ctrl-icon.parameters-btn {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 24 24"><path d="M 9.5 5.5 C 10.5 5.1 9.5 2 10.5 2 L 13.5 2 C 14.5 2 13.5 5.1 14.5 5.5 s 1.1 0.5 1.8 1.1 C 17.1 7.2 19.4 4.8 19.9 5.7 L 21.4 8.3 C 21.9 9.2 18.7 9.8 18.9 10.9 s 0.2 1 -0.1 2.3 C 18.7 14.2 21.9 14.8 21.4 15.7 L 19.9 18.3 C 19.4 19.2 17.2 16.7 16.4 17.4 s -0.7 0.6 -1.8 1.2 C 13.7 19.1 14.5 22 13.5 22 L 10.5 22 C 9.5 22 10.5 18.9 9.5 18.5 s -0.9 -0.4 -1.7 -1.1 C 7.1 16.7 4.6 19.2 4.1 18.3 L 2.6 15.7 C 2.1 14.8 5.3 14.2 5.1 13.1 s -0.2 -1.1 0 -2.4 C 5.4 9.7 2.1 9.2 2.6 8.3 L 4.1 5.7 C 4.6 4.8 6.8 7.3 7.6 6.6 S 8.3 6 9.5 5.5 M 12 9 A 1 1 0 0 0 12 15 A 1 1 0 0 0 12 9"/></svg>');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;    
}
/* Grey styling to disable a control button */
.maplibregl-ctrl button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* style d'un contrôle Map Libre pour fournir des instructions dans le coin gauche */
.instruction-control {
	background: rgba(255, 255, 255, 0.6);
    padding: 6px 10px;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    max-width: 220px;
}
/*
 * Ajustement des styles MapLibre pour les Markers
 */
/* Contenu du popup : padding réduit + angles arrondis */
.maplibregl-popup-content {
    padding-top: 6px;         /* moins d'espace en haut */
    padding-bottom: 6px;      /* moins d'espace en bas */
    padding-right: 1.5em;       /* espace pour le bouton de fermeture */
    border-radius: 8px;       /* angles arrondis */
}
/* Bouton de fermeture : descendu légèrement et sans fond */
.maplibregl-popup-close-button {
    /* top: 4px !important;      décale vers le bas */
    border: none !important;  /* supprime la bordure */
    outline: none !important; /* supprime le contour focus */
    background: none !important;
    box-shadow: none !important;
    padding: 0;
    padding-right: 0.25em;
    margin: 0;
    cursor: pointer;
}
/* Style du X du bouton de fermeture */
.maplibregl-popup-close-button {
    color: #999 !important;   /* couleur du X */
    font-weight: bold !important;
    font-size: 18px;
}
/* (Optionnel) Changer la couleur du x au survol */
.maplibregl-popup-close-button:hover {
    color: #000 !important;
}
/*
 *
 * Style pour le popup apparaissant lors du passage de la souris sur les markers
 *
 */
.hover-popup {
	font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 4px;
}
/*
 * Style de la boite de gestion des paramètres
 */
/* Modal overlay */
.widget-dialog-modal {
	display: none;
    position: fixed;
    z-index: 2000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(192,192,192,0.15);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: #333;
}
/* Modal content */
.widget-dialog-content {
	position: absolute; /* to make it draggable */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.30);
    width: 250px;
    border: 1px solid #ddd;
    animation: fadeIn 0.2s ease-out;
	/* Start centered */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
.widget-dialog-header {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 12px;
    color: #333;
    text-transform: uppercase; /* Converts all letters to uppercase */
	cursor: move; /* Show draggable cursor */
}
.widget-dialog-footer {
    margin-top: 16px;
    text-align: right;
}
label { 
    display: block;
    margin-top: 14px;
    font-size: 10px;
    font-weight: 600;
    color: #555;
    text-transform: uppercase; /* Converts all letters to uppercase */
}
input[type="text"], input[type="number"], input[list], select {
    width: 100%;
    padding: 6px 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
	/* font-family: inherit;
    background-color: white;*/
}
/* Remove native arrow for a cleaner look */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
}
/* Style the dropdown options */
select option {
	font-size: 12px;
	color: black;
}
/* Grey text when value is exactly "" */
select[value=""] option {
  color: #888; /* placeholder grey */
}
input:focus, select:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74,144,226,0.2);
}
/* GRIST-like buttons */
.btn {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}
.btn-secondary {
    background: white;
    border-color: 4a90e2; //#ccc;
    color: 4a90e2;
}
//.btn-secondary:hover {
//  background: #e9e9e9;
//}
.btn-primary {
    background: #888;
    border-color: #555;
    color: white;
 }
//.btn-primary:hover {
//  background: #3f7ecb;
//}
.btn:disabled {
	display: none;
}
/* 
  Context menu styling
*/
#contextMenu {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 9999;
    font-family: sans-serif;
    font-size: 12px;
}
#contextMenu ul {
    list-style: none;
    margin: 0;
    padding: 4px 0;
}
#contextMenu li {
    padding: 6px 12px;
    cursor: pointer;
}
#contextMenu li:hover {
    background: #f0f0f0;
}
#contextMenu li[disabled] {
  color: #888;
  cursor: not-allowed;
  background: #f9f9f9;
  pointer-events: none; /* Prevents mouse interaction */
}
/**********************************************************************************
 END OF FILE
***********************************************************************************/
